<?xml version='1.0' encoding='utf-8'?>
<widget id="com.suellen.appnotas" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Anotações</name>
    <description>Sample Apache Cordova App</description>
    <author email="suellenwmj@hotmail.com" href="https://cordova.apache.org">
        Apache Cordova Team

    </author>
    <icon src="res/icon.png" />
    <preference name= "SplashScreen" value="screen" />
    <splash src="res/spash.png" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name= "SplashMaintainAspectRatio" value="true" />

    <!--<preference name= "Fullscreen" value="true" /> -->
    <preference name="statusBarBackgroundColor" value="#ff0000" />
 
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
